@model IEnumerable<Curso.Models.Departament>

@{
    ViewData["Title"] = "Index";
}

<h2>Tabela de Tarefas</h2>

<p>
    <a asp-action="Create">Nova Tarefa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               <h3>Tarefa</h3>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detales</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
